<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="sbis.faceinfo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="sbis.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <activity
            android:name=".presentation.welcome.SplashActivity"
            android:theme="@style/SplashTheme"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.search.view.activity.SearchActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".presentation.detailinfo.view.activity.DetailInfoActivity"
            android:theme="@style/DetailInfoTheme"
            android:screenOrientation="portrait" />

        <activity
            android:name=".presentation.setting.SettingActivity"
            android:noHistory="true"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait" />

    </application>

</manifest>